/**
*
* SLICK SLIDER DESIGN
*
**/


#slick-holder {
  margin-top:2%;
  height:60vh;
}

#slick-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#slick-nav button {
  width: 60px;
  height: 60px;
  border:none;
  color: #fff;
  background: none;
  margin: 2% 1%;
}

#slick-nav button:focus {
  outline:none;
}

#slick-nav button:hover, #add-entry:hover {
  cursor: pointer;
}

#slick-nav i {
  font-size: 3em;
}

.slick-slide::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.slick-slide::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ff6397;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

.slick-slide {
  overflow: scroll;
  max-height: 60vh;
}

.slick-list {
  width:100%;
}

/**
*
* FORMS
*
**/

nav {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav #add-entry {
  padding: 1%;
  width:3%;
  bottom:3%;
}

nav a:hover {
  text-decoration: underline;
}

.list-design {
  margin:5% auto 0 auto;
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.list-design h2 {
  font-family: 'Prata', serif;
  text-align: center;
  margin: 0 0 2% 0;
}

.list-design form, .list form {
    margin: 2% 0 2% 0;

    display:flex;
    flex-direction: row;
}

.date-title {
  margin:2% 0;
  text-align:center;
  font-size: 1.5em;
}

.done {
    width:10%;
}

.name {
    width:100%;
}

.date {
  display:none;
}

.buttons {
  width:30%;
}

label {
    display:none;
}

input {
    width:95%;
    height:50px;

    border:none;
    background: none;

    font-size:1.7em;
    font-family:'Prata', serif;
    color:#fff;
}

input:focus {
    outline:none;
    border-bottom: 1px solid #ff6397;
}

.list .btn.fc-button-primary {
  margin:0 1%;
  font-size:1.2em;
  padding:5%;
}


/**
*
* CHECKBOXES
*
**/


  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #ff6397;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }

  .option-input:hover {
    background: #ff6397;
  }

  .option-input:checked {
    background: #ff6397;
  }

  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 26.6666666667px;
    text-align: center;
    line-height: 40px;
  }

  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #ff6397;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }

  .option-input.radio {
    border-radius: 50%;
  }

  .option-input.radio::after {
    border-radius: 50%;
  }
  

 
/**
*
* MEDIA QUERIES
*
**/

@media screen and (max-width:1050px) {

  h2 {
    font-size: 2.3em;
  }
  form {
    align-items: center;
  }
  .buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons button.btn.fc-button-primary, .buttons a.btn.fc-button-primary {
    font-size:1em;
    width:70%;
    padding: 10%;
  }

  form input {
    font-size:1.5em;
  }

  #add-entry {
    width: 8%;
  }
}

@media screen and (max-width:700px) {
  .list-design form {
    flex-direction: column;
    margin: 5% 0;
    border: 1px dotted #ff6397;
    padding: 5%;
  }

  form input {
    margin: 3% 0;
    text-align: center;
  }

  .option-input:checked::before {
    left: 1px;
  }

  .buttons {
    width: 50%;
  }

  .buttons button.btn.fc-button-primary, .buttons a.btn.fc-button-primary {
    margin: 3% 0;
    padding: 6%;
    width: 100%;
  }

  #slick-holder {
    height: 70vh;
  }

  .slick-slide {
    max-height: 70vh;
  }

  #add-entry {
    min-width: 40px;
  }
}