body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height:100vh;
    margin:0;
    padding:0;
}

/*
*
* MOOD NAV
*
*/

#mood-nav, #mood-nav ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mood-nav {
    margin:4% 0
}

#mood-nav ul {
    list-style: none;

    font-size: 2em;

    margin:0;
    padding:0;

    width:100%;
}

#mood-nav li {
    margin:2% auto;
    padding:0;
}

#today-mood, .data {
    width:100%;
}

.edit-button {
    height:auto;
    width:100%;

    display:flex;
    justify-content: center;
}

/*
*
* FORM
*
*/

#form {
    width:100%;
}

#mood {
    margin: 3% 0;
}

form label{
    color:#fff;
    margin: 3% auto;
}

form input {
    border:1px solid #ff6397;
}

input[type="text"]{
    height:100px;
    color: #ff6397;
}

/*
*
* SELECT2
*
*/

select {
    width:100%;
    height:50px;
    text-align:center;
}

.select2-results__option[aria-selected] {
    background: #fff;
    color:#ff6397;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff6397;
    color: #ff6397;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff6397;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
     background-color: #ff6397; 
     color:#fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ff6397;
    line-height: 28px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ff6397;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ff6397 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #ff6397 transparent;
}

.select2-container--default .select2-search--dropdown .select2-search__field, .select2-dropdown {
    border: 1px solid #ff6397;
}

.select2-container {
    width:100% !important;
}


/*
*
* ARCHIVES NAV
*
*/

div.archives {
    width:100%;
    height:100%;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#archives-nav {
    height:100vh;
    width:20%;
    border:1px solid #ff6397;
}

#archives-nav div {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color:#ff6397;
    border-bottom:1px solid #ff6397;

    height: calc(100vh/13);
}

#archives-nav div:hover {
    background-color: #ff6397;
    color:#fff;
}

#archives-nav div:nth-child(1) {
    background-color: #ff6397;
    color:#fff;
}

#archives-nav div:nth-child(1):hover {
    background-color: #fff;
    color:#ff6397;
}

#archives-nav p {
    font-size: 1.3em;
    font-weight: 800;
}

.fas.fa-search {
    font-size:1.5em;
    margin: 0 5% 0 0;
}

.mood-search, #chart {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height:100%;
}

.mood-search {
    width: 80%;
}

#chart{
    width:70%;
    margin: auto;
}

#chart {
    display:none;
}

.mood-search form div, .mood-search form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mood-search form {
    margin: 5% 0;
    font-size:1.5em;
    margin:3% 0;
}

.mood-search form input {
    color:#ff6397;
    width:70%;
    height:50px;
    font-size:0.8em;
    font-family: 'Prata', serif;
    text-align: center;
    margin: 3% 0 4% 0;
}

.mood-search .btn.fc-button-primary {
    
    font-size:1em;
}

.mood-search form button {
    font-size:1em;
}

.mood-search-result {
    width:75%;
    background-color: #fff;
    border: 1px solid #ff6397;
    border-radius: 15px;
    color:#FAC4C7;
}

.mood-search-result p, .mood-search-result h3 {
    font-size:1.5em;
    padding: 0 10%;
}

.mood-search-result h3 {
    text-align:center;
}

.mood-search-result span {
    color:#ff6397;
    font-weight: 800;
    display:inline-block;
    margin: 1% 0;
}

