/**
*
*
* HOME
*
*
**/


.home-container {
    margin:auto;
    min-height: 100vh;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bujo-explain {
    width:100%;
}

#bujo-explain section {
    width:100%;
    margin: 5% 0;
}

.home-container h2 {
    font-size:2em;
    text-align: center;
}

.bujo-explain-part p {
    font-size: 1.5em;
    max-width:450px;
    padding: 2%;
    line-height:1.5;
    margin: auto 5%;
}


figure {
    margin: 5% 0;
    display:flex;
    justify-content: center;
}



figure .img-container {
    width:50%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure .img-container img {
    box-shadow: 1px 1px 10px rgb(57, 57, 57);
    margin: 2% 0;
    width:100%;
    height:auto;
}

#contact {
    display: flex;
    flex-direction: column;
    margin : 0 0 5% 0;
}

#contact a {
    font-size: 1.5em;
    cursor:pointer;
}
#contact a:hover {
    text-decoration: underline;
}

#contact h2 {
    font-size: 2.5em;
}
