/** 
*
* NOTES
*
**/

#notes {
    margin: 2% 0;
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.note {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border:2px solid #fff;
    border-radius: 15px;
    background: #31be36;

    color: #fff;

    min-width: 300px;
    width:15%;
    margin: 2% 2%;

}

#notes p {
    font-size:1.2em;
}

#notes a p{
    color: #fff;
    font-size: 1.5em;
}

#notes a:hover {
    text-decoration: underline;
}

#create-note {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

#create-note a {
    width:2%;
    min-width:40px;
}


/** 
*
* EDIT NOTE
*
**/

#note-page {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


#note-page form {
    margin:0;
}

#note-page form .button {
    display:flex;
    flex-direction: row;
    justify-content: center;
}


#note-edit {
    width:50%;
    margin: 5% 0;
    padding: 3%;
}

#save {
    margin:auto;
}

.codex-editor__redactor {
    padding-bottom: 50px !important;
}

.ce-toolbar__plus {
    color:#77d07a;
}


.ce-inline-toolbar__buttons, .ce-conversion-toolbar__tools, .ce-toolbar__plus:hover, .ce-toolbox__button--active, .ce-toolbox__button:hover {
    color: #77d07a;
}

.ce-block--selected .ce-block__content {
    background:none;
    border-bottom:1px solid #77d07a;
}

/** 
*
* NEW NOTE
*
**/

#editor, #note-edit {
    border-top: 1px solid #77d07a;
    border-bottom : 1px solid #77d07a;
    width:60%;
    margin: 2% 0;
}

.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
    color:#fff;
}

.button, #note-page form {
    width:100%;
}

.button {
    display:flex;
    justify-content: center;
}

#note_content {
    padding: 5%;
}



/** 
*
* FORM
*
**/

form {
    margin : 1% 0;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form #note {
    width:60%;
    font-size:1.8em;
}

form #note div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;

}

form #note div input {
    width:100%;
    height:50px;
    margin : 4% 0;
    padding:2%;

    color:#fff;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Prata', serif;

    border:none;
    border-bottom: 1px solid #77d07a;
    border-top : 1px solid #77d07a;
    background: none;
}

input:focus {
    outline: none;
}
