{% extends "base.html.twig" %}

{% block title %} Index {% endblock %}

{% block body %}
    <h1>Online Bujo</h1>
    <p>Page d'accueil du Bullet Journal</p>

    <div id="calendar"></div>
{% endblock %}


