<div class="form-container">
     <h2>Éditer l'événement</h2>

    {{ include('booking/_form.html.twig', {'button_label': 'Sauvegarder les changements'}) }}

    {{ include('booking/_delete_form.html.twig') }}

    <a href="{{ path('booking.calendar') }}">Retour au calendrier</a>
</div> 

