{% extends 'base.html.twig' %}

{% block title %}Créer un événement{% endblock %}

{% block body %}
    <h1>Créer un événement</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">Retour à la liste des événements</a>
{% endblock %}
