<div class="form-container">
        <h2>Créer un événement</h2>

        {{ include('booking/_form.html.twig') }}

        <a class="close-popup" href="{{ path('booking.calendar') }}">Retour au calendrier</a>
 </div>
    
