/**
*
*
* GENERAL
*
*
**/


body {
    font-family: 'Prata', serif;
    background: rgb(255,199,199);
    background: linear-gradient(184deg, rgba(255,199,199,1) 0%, rgba(255,167,202,1) 89%);  
    height:100%; 
    min-height:100vh;
    color:#fff;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    margin:0;
    text-shadow: 2px 2px 2px #ff73be;
}

h1, p {
    text-align: center;
}

h1 {
    margin: 1% 0;
}

p {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color:#fff;
    text-align:center;
    transition: 0.5s all;
}

button {
    font-family: 'Prata', serif;
}




/**
*
*
* NAV
*
*
**/

nav.home-menu {
    width:100%;

    display: flex;
    justify-content: center;
}

nav.home-menu ul {
    padding: 0;
    width:50%;
    display:flex;
    justify-content: center;
}

nav.home-menu ul li {
    list-style: none;
    font-size:2em;
    margin: 1% 3%;
}


nav.home-menu ul li:hover a, #mood-nav ul li:hover a {
    color : #ff73be;
    text-shadow: 1px 1px 2px #fff;
}

/**
*
*
* HOME
*
*
**/


.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**
*
*
* POPUP
*
*
**/


.popup {
    display:none;

    background-color: #fff;
    border-radius:10px;

    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
    width:80%;
    height:95vh;
}

.popup h2 {
    color: #FAC1C7;
}

.popup a {
    color:#ff6397;
}


/**
*
*
* BUTTONS
*
*
**/

.btn.fc-button-primary {
    font-size:1.5em;
    text-align: center;
    padding:1%;
    border-radius:10px;
    margin:1% auto;
    color:#fff;
    background-color: #ff6397;
  }
  
  .fc-button-primary {
    background-color: #ff6397;
    border: none;
  }
  
  .fc-button-primary:disabled {
    background-color: #ff6397;
  
  }
  
  .fc-button:hover, .fc-button-primary:hover {
    background-color: #c90043;
    text-decoration: none;
  }

  a.back-link {
      display:inline-block;
      width:100%;
      text-align: center;
      margin: 1% 0;
  }



/**
*
*
* MEDIA QUERIES
*
*
**/

@media screen and (max-width:600px) {
    .home-menu ul {
        flex-direction: column;
        align-items: center;
    }

    nav.home-menu ul li {
        margin: 4% 0;
    }
}