{{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="editor">
        <div id="note_content"></div>
    </div>
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
