{% extends 'base.html.twig' %}

{% block title %}Nouvelle Note{% endblock %}

{% block body %}
    {% include "nav/_nav.html.twig" %}
    <h1>Nouvelle Note</h1>

    {% include "note/_form.html.twig" %}
    

    <a href="{{ path('note.index') }}" class="back-link">Retour aux notes</a>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('note') }}
{% endblock %}

{% block javascripts %}
    <script> 
        let id = null;
    </script>
    {{ encore_entry_script_tags('note') }}
{% endblock %}

