@import url("https://fonts.googleapis.com/css?family=Muli:400,900&display=swap");

.calendar-container {
  width:100%;
  min-height:100vh;
  position:relative;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#calendar {
  color:#6e6e6e;
  font-family: "Muli", sans-serif;
  margin: 1% auto 0 auto;
  position: relative;
  width:45%;

}

#calendar h2, #event-click-result h3 {
  color:#fff;
  text-shadow: 1px 1px 2px #77d07a;
}

#calendar .fc-view-container {
  background-color: #fff;
}

.fc-toolbar h2,
.fc th {
  font-weight: inherit;
}

.fc-today-button, .fc-prev-button, .fc-next-button, .fc-button-group, .fc-prev-button:hover, .fc-next-button:hover {
  background-color: #31be36;
  border:none;
  border-radius:5px;
}

.fc-unthemed td.fc-today {
  background: rgb(253, 255, 220);
}

.fc-button-primary:disabled {
  background-color: #31be36;

}

.fc-button:hover, .fc-button-primary:hover {
  background-color: #008e0c;
  text-decoration: none;
}


.calendar-nav {
  width:100%;
  display:flex;
  flex-direction: column;
}


#event-click-result {
  position:relative;
  display:none;

  width:25%;
  margin:0 10% 0 0;
  padding: 0 0 6% 0;

}

#event-click-result h3 {
  font-size: 2em;
  text-align: center;
}

#event-click-result p {
  font-size: 1.5em;
}

#event-click-result a {
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  margin:auto;
}

/**
*
*
* POPUP
*
*
**/


.popup {
  display:none;

  background-color: #fff;
  border-radius:10px;

  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:105;
  width:80%;
  height:95vh;

  overflow:scroll;
}

.popup-background {
  display: none;
  position: fixed;
  z-index:105;
  width: 126%;
  height: 105.6%;
  background-color: rgba(0,0,0,0.5);
  top: -2.7%;
  left: -13%;
}

.popup h2 {
  color: #ffe8c6;
}

.popup a {
  color:#31be36;
}

.popup form[name='booking'] {
  width: 100%;
  overflow: scroll;
  max-height: 650px;
  margin: 2%;
  justify-content: flex-start;
}


/**
*
*
* MEDIA QUERIES
*
*
**/


@media screen and (max-width:1280px) {

    .calendar-container {
      flex-direction: column;
    }

    #calendar {
      width:80%;
      margin: 10% 0 4% 0;
    }

    #event-click-result {
      width:70%;
      margin: 2% 0;
      padding:0;
      min-height:400px;
    }
}


@media screen and (max-width:820px) {

  #event-click-result {
    min-height:470px;
  }

  #calendar {
    width:90%;
    margin: 4% 0;
  }

  .popup h2 {
    font-size: 2em;
    margin: 4% 0;
  }

  .popup form {
    margin: 4% 0;
  }

  .popup form div {
    width:90%;
  }

  .popup form input {
    margin: 4% 0;
  }

  .popup .form.dates-form {
    width:100%;
  }

  .popup .form.dates-form div {
    width:100%;
  }

  #calendar {
    margin-top: 15%;
  }

  .form-container form {
    overflow:scroll;
    justify-content: flex-start;
  }

  .form-container {
    height:auto;
  }

  .form-container label{
    font-size:1.2em;
    margin:0;
  }
}

@media screen and (orientation:landscape) and (max-width:800px) {
  .popup h2::after {
    display:block;
    content:'(Scrollez pour remplir tous les champs)';
    font-size:0.5em;
    color: #31be36;
    text-shadow: none;
    font-family: 'Prata', serif;
  }

  .popup .form-container form {
    max-height: 160px;
    margin: 1% 0;
  }
}


@media screen and (max-width:450px) {

  .fc-right {
    display: flex;
    flex-direction: column;
  }
  
  #calendar {
    margin-top: 20%;
  }

  .popup h2 {
    font-size: 1.6em;
  }
}
