{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404</h1>

    <p>
        Oups ! La page que vous recherchez n'a pas été trouvée. Vérifiez l'URL ou <a href="{{ path('bujo.home') }}">retournez à la page d'accueil</a>.
    </p>
{% endblock %}
